* {
    outline: none !important;
}
body {
    background: #020817 !important;
    color: white !important;
}
.wrapper {
    max-width: 1636px !important;
    margin: 10px auto !important;
}
.borderLeft {
    border-left: 5px solid #3F9CFB;
}
.shadow {
    background: #FA6BAC !important;
    filter: blur(90px) !important;
    bottom: 100px;
    right: 10px;
    position: absolute;
}

.active {
    color: #3F9CFB !important;
}

.imgHov {
    overflow: hidden;
}

.imgHov img {
    transition: all 0.5s ease !important;
    width: 400px;
    height: 260px;
}

.imgHov img:hover {
    transform: scale(1.1) !important;

}

.shadoww {
    width: 591px;
    height: 540px;
    border-bottom-left-radius: 565px;
    background: linear-gradient(to right top, #1789FC, #0F072C, #FF3FDB);
    filter: blur(45px);
    position: absolute;
    right: 0px;
}

.shadoww2 {
    width: 391px;
    height: 440px;
    border-bottom-left-radius: 565px;
    background: linear-gradient(to right top, #1789FC, #0F072C, #FF3FDB);
    filter: blur(45px);
    position: absolute;
    right: 0px;
}
.shadowww {
    width: 500px;
    height: 500px;
    border-top-right-radius: 565px;
    background: linear-gradient(#1789FC, #070E3E, #0014F4);
    filter: blur(45px);
    position: absolute;
    left: 0px;
    bottom: 0;
}
.shadowww2 {
    width: 300px;
    height: 340px;
    border-top-right-radius: 565px;
    background: linear-gradient(#1789FC, #070E3E, #0014F4);
    filter: blur(45px);
    position: absolute;
    left: 0px;
    bottom: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.line {
    filter: drop-shadow( -1px 1px 10px #3F9CFB) !important;
    /* filter: blur(5px) !important; */
}

.line2 {
    filter: drop-shadow( -1px -1px 7px #3F9CFB) !important;
}

.swiper-slide img {
    width: 250px;
    height: 250px;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.auth_img {
    filter: grayscale(20%) !important;
}

@media (max-width: 1280px) {
    .navbar_links {
        display: none !important;
    }
    .navbar_menu {
        display: block !important;
    }
}